# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# pytest
.pytest_cache/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.tfplan
terraform/.terraform.lock.hcl

# macOS
.DS_Store

# Logs
*.log
